h1
{
    color: brown;
    font-size: 50px;
    font-family: 'Bruno Ace SC', cursive;
}

#uno
{
    color: brown;
    font-size: 30px;
}

/*comentario de css*/

.dos
{
color: darkgreen;
font-size: 30px;
}

ol
{
margin: 25px;
padding: 100px 500px;
border: 15px solid;
text-align: center;
border-radius: 80%;
width: 50;
height: 50%;
box-shadow: 10px 10px 10px black; 
}

ul
{
color: darkgreen;
font-size: 40px;
margin: 25px;
padding: 100px 500px;
border: 15px solid;
text-align: center;
border-radius: 80%;
width: 30%;
height: 30%;
box-shadow: 10px 10px 10px black;
}

img
{
width: 300px;
height: 600px;
border-radius: 30%;
box-shadow: 10px 10px 10px black;
transform: rotate(4deg)
}

span 
{
    font-size: 20px;
    background-color: red;
}

body
{
    background-image: url(foto5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
}

p
{
    font-family: 'Bruno Ace SC', cursive;
}

i
{
    width: 200px;
}

p
{
    text-align: center;
    text-decoration: wavy;
    text-transform: capitalize;
    line-height: normal;
} 

.hola
{
    column-count: 10;
    column-gap: 50px;
    column-rule: 15px dotted red;
}



@media (min-width: 700px) and (max-width: 900px) {
   .contenedor { width: 33%; }
}

@media (min-width: 900px) and (max-width: 1200px) {
   .contenedor { width: 25%; }
}

section img
{
    float: left;
    margin: 15px;
}

.texto
{
    clear: right;
    text-align: center;

}

.padre
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.btn1
{
    flex: auto; 
}







